<div class="row wow fadeIn">

 <!-- Thread Create Begins -->
    <div class="col-md-12 mb-5">
        <div class="card">
            <h5 class="card-header h5">Create Thread</h5>
            <div class="card-body">
                <h5 class="card-title">Thread Author (Guest)</h5>

                <form id="post_forum">
                    <div class="form-group shadow-textarea">
                        <i class="fas fa-user prefix"></i>
                        <label for="CHANGE_THIS">Thread Title</label>
                        <input type="text" id="post_title" class="form-control">

                        <i class="fas fa-user prefix pt-1"></i>
                        <label for="CHANGE_THIS">Thread Category</label>
                        <!-- <input type="text" id="post_category" class="form-control"> -->
                        <select class="custom-select" id="post_category"></select>

                        <i class="fas fa-users prefix pt-1"></i>
                        <label for="CHANGE_THIS">Thread Body</label>
                        <textarea class="form-control z-depth-1" id="post_body" rows="3"
                            placeholder="Write something here..."></textarea>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit Thread</button>
           
            </div>
             </form>
        </div>
    </div>

    <!-- Thread Create Ends -->
    <!--Grid column-->
    {{#each forums}}
    <div class="col-md-12 mb-5">
        <div class="card">
            <h5 class="card-header h5"><span id="display_title">{{post_title}}</span></h5>
            <div class="card-body">

                <h5 class="card-title">{{forum_name}}</h5>
                <p class="card-text">{{post_body}}</p>
                <a href="/forum/{{id}}" class="btn btn-primary">Display Thread</a>
                <a href="/api/edit/{{id}}" class="btn btn-primary">Edit Thread</a>
                <button type="button" class="btn btn-primary display_post_delete" data-threadid="{{id}}">Delete
                    Thread</button>

            </div>
            <div class="rounded-bottom cloudy-knoxville-gradient lighten-1 text-center pt-3">
                <ul class="list-unstyled list-inline font-medium">
                    <li class="list-inline-item pr-2 black-text"><i class="far fa-clock pr-1"></i><span
                            id="display_post_recent_timestamp">{{createdAt}}</span>
                    </li>
                    <li class="list-inline-item pr-2"><a href="#" class="black-text"><i
                                class="far fa-comments pr-1"></i><span id="display_post_recent_comments">12</span></a>
                    </li>
                    <li class="list-inline-item pr-2"><a href="#" class="black-text"><i class="far fa-thumbs-up pr-1">
                            </i><span id="display_post_recent_thumbs_up">21</span></a></li>
                    <li class="list-inline-item"><a href="#" class="black-text"><i class="far fa-thumbs-down pr-1">
                            </i><span id="display_post_recent_thumbs_down">5</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    {{else}}
    <p>Nothing to show, sorry!</p>
    {{/each}}
</div>
